---
import { Menu, X } from "@lucide/astro";
const navItems = [
  { href: "/", label: "Home" },
  { href: "/blog", label: "Blog" },
  { href: "/gallery", label: "Gallery" },
];

const isActive = (href: string) => {
  return Astro.url.pathname === href;
};

const name = "Tife Onifade";
---

<script>
  import { gsap } from "gsap";
  const mobileMenuBtn = document.getElementById("mobile-menu-btn");
  const mobileMenu = document.getElementById("mobile-menu");
  const menuIcon = document.getElementById("menu-icon");
  const closeIcon = document.getElementById("close-icon");
  let isOpen = false;
  mobileMenuBtn?.addEventListener("click", () => {
    // animating the mobile menu
    if (!isOpen) {
      gsap.fromTo(
        mobileMenu,
        { opacity: 0, y: -20, display: "none" },
        {
          opacity: 1,
          y: 0,
          display: "block",
          duration: 0.3,
          ease: "power1.inOut",
        },
      );
    } else {
      gsap.to(mobileMenu, {
        opacity: 0,
        y: -20,
        display: "none",
        duration: 0.3,
        ease: "power1.inOut",
      });
    }
    isOpen = !isOpen;
    menuIcon?.classList.toggle("hidden");
    closeIcon?.classList.toggle("hidden");
  });

  import { glitch_animation } from "../utils/animations";
  document.addEventListener("DOMContentLoaded", () => {
    glitch_animation("#main-text");
  });
</script>

<header class="shadow relative">
  <nav class="container mx-auto max-w-5xl px-6 py-6 relative">
    <div class="flex items-center justify-between">
      <a
        class="tracking-tight text-xl font-bold w-auto hover:text-orange-600 transition-colors"
        href="/"
      >
        <span id="main-text" class="">
          {name}
        </span>
      </a>
      <!-- Desktop Navigation -->
      <div class="hidden md:flex items-center gap-8">
        <ul class="flex gap-6">
          {
            navItems.map((item) => (
              <li>
                <a
                  href={item.href}
                  class={`text-sm tracking-wide 
                        transition-colors duration-200 ease-in-out
                        ${
                          isActive(item.href)
                            ? "text-gray-900"
                            : "text-gray-500 hover:text-orange-600"
                        }`}
                >
                  {item.label}
                </a>
              </li>
            ))
          }
        </ul>
      </div>

      <!-- Mobile Navigation -->
      <button id="mobile-menu-btn" class="md:hidden focus:outline-none">
        <Menu size={24} id="menu-icon" />
        <X size={24} id="close-icon" class="hidden" />
      </button>
    </div>
  </nav>
  <ul
    class="hidden py-4 pb-2 space-y-4 absolute container
            max-w-5xl px-6 bg-amber-50 z-10 border-b border-orange-400"
    id="mobile-menu"
  >
    {
      navItems.map((item) => (
        <li>
          <a
            href={item.href}
            class={`block text-sm tracking-wide 
                    transition-colors duration-200 ease-in-out
                    ${
                      isActive(item.href)
                        ? "text-gray-900"
                        : "text-gray-500 hover:text-orange-600"
                    }`}
          >
            {item.label}
          </a>
        </li>
      ))
    }
  </ul>
</header>
